<h1>Component root</h1>

<p>{{title}}</p>

<!-- <p style="background-color: yellow;"> 
  Empresa: {{ empresa }} 
</p> -->

<!-- <p style="{{corFundo}}"> 
  Empresa: {{ empresa }} 
</p> -->

<p [style]="corFundo"> 
  Empresa: {{ empresa }} 
</p>

<!-- <p>
  <input type="text" [value]="empresa">
</p> -->

<!-- <div>
  {{empresa}}
</div> -->

<p>
  <button (click)="clicar()"> Clique aqui </button>
</p>

<p>
  <input type="text" [value]="empresa" 
    (keyup)="getTextoDigitado(empresaInput)" 
    #empresaInput >
</p>

<p><input type="text" [(ngModel)]="empresa"></p>

<app-listar>[empresaFilho]="empresa" </app-listar>